#root {
    height: 100%;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input:focus {
    outline: none;
}

.ant-modal {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
}

.ant-modal-content {
    height: 100vh;
    width: 100vw;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ant-layout-sider-zero-width-trigger {
    top: 10px;
}

.total-balance {
    font-size: 5vw !important;
    white-space: nowrap !important;
    margin-bottom: 4px !important;
}

.header-action-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    .total-balance {
        font-size: 10vw !important;
        margin-bottom: 8px !important;
    }
}

@media only screen and (min-width: 992px) {
    .total-balance {
        font-size: 3vw !important;
        margin-bottom: 8px !important;
    }
}

@media only screen and (max-width: 576px) {
    .total-balance {
        margin-left: 32px;
        margin-bottom: 8px !important;
    }
}
